*
{
    margin:300;
    padding: 300;
    font-family: sans-serif;
    background: lightcoral;
}
.conditions{
    margin: 20px;
    padding: 30px;
   

}
.text{
    color:black;
    text-align: center;
    border-top: 50px;
    border-left: 550px;
    border-right: 50px;
    
}
.matter{
    color:black;
    text-align: left;
    border-top: 50px;
    border-left: 50px;
    border-right: 30px;
    

}

.matter h4{
    text-align: left;
}
